.card {
  border: 5px solid black;
  border-radius: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 35px auto 0px auto;
  width: 50%;
  padding: 25px;
  /* background: linear-gradient(20); */
}
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile-img {
  /* background: #000; */
  display: flex;
  width: 50%;
  border-radius: 50%;
  margin-top: 20px;
}
.aboutPara {
  text-align: justify;
  font-size: 20px;
  line-height: 1.6em;
}
.about_skillwrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.profile-name {
  font-size: 30px;
  font-family: cursive;
  padding: 0px;
  margin: 10px;
}
.designation {
  font-family: cursive;
  color: red;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 5px;
}
.company {
  padding-top: 0px;
  margin-top: 0px;
  font-family: cursive;
  color: green;
  font-size: 15px;
  font-weight: 600;
}
.skill {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
  flex-wrap: wrap;
  gap: 12px;
}
.skillwrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 16px;
  padding: 0px 10px;
  /* min-width: 20px; */
}
.skillwrapper > span {
  display: flex;
  flex-basis: 100%;
  flex-wrap: wrap;
  /* padding: 5px; */
}
.message {
  /* background: #000; */
  color: blue;
  padding: 8px 16px;
  font-size: 20px;
}
.social-icon {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}
.clock {
  background: #000;
  color: white;
  padding: 8px 20px;
  border-radius: 20px;
  font-family: monospace;
  font-family: cursive;
}

.btn {
  background: #fff;
  border: 2px solid black;
  padding: 6px 30px;
  border-radius: 50px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 900;
  font-size: 15px;
  margin-top: 20px;
}
.btn > a {
  text-decoration: none;
  color: black;
}
.btnGrp {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.footer {
  width: 100%;
  text-align: center;
  padding: 0px;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}
@media only screen and (max-width: 1000px) {
  .card {
    display: flex;
    flex-direction: column;
    width: 70%;
  }
  .skill {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  .profile-name {
    font-size: 30px;
    font-family: cursive;
    padding: 0px;
    margin: 0px;
  }
  .designation {
    font-family: cursive;
    color: red;
    font-size: 20px;
  }
  .aboutPara {
    text-align: justify;
    font-size: 20px;
  }
  .btnGrp {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
}
